apiVersion: v1
kind: Service
metadata:
  name: service
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: service
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
    name: api
  - protocol: TCP
    port: 8090
    targetPort: 8090
    name: grpc

